@import "tailwindcss";

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #020617;
  color: #ffffff;
  overflow-x: hidden;
}

section {
  scroll-margin-top: 80px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
